{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 300px; margin-top: 150px; padding: 30px; background-color: rgba(0, 0, 0, 0.7); border-radius: 10px; color: #ffffff; text-align: left;">
    <h2 class="mb-4">Login</h2>
    <form method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <div class="invalid-feedback">
                Please enter your username.
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="invalid-feedback">
                Please enter your password.
            </div>
        </div>
        <button type="submit" class="btn btn-orange btn-block">Login</button>
    </form>
</div>

<style>
    body {
        background-image: url('/static/back4.jpg'); /* Adjust this path */
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        text-align: center;
        margin-top: 150px;
    }

    .form-control {
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
    }

    .btn-orange {
        background-color: #ff7f00; /* Orange color */
        border: none;
    }

    .btn-orange:hover {
        background-color: #e66000; /* Darker shade of orange on hover */
    }
</style>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}
